absl-py==1.3.0
altgraph==0.17.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
astroid==2.6.2
astunparse==1.6.3
attrs==21.2.0
autopep8==1.5.7
backcall==0.2.0
bleach==4.1.0
cachetools==5.2.0
certifi==2021.5.30
cffi==1.15.0
charset-normalizer==2.0.3
click==8.1.3
colorama==0.4.5
cx-Freeze==6.12.0
cycler==0.10.0
debugpy==1.3.0
decorator==5.0.9
defusedxml==0.7.1
Django==3.2.5
django-stubs-ext==0.2.0
docopt==0.6.2
entrypoints==0.3
flake8==3.9.2
flatbuffers==22.10.26
func-timeout==4.3.5
future==0.18.2
gast==0.4.0
geneticalgorithm==1.0.2
google-auth==2.14.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.19.1
grpcio==1.50.0
h5py==3.7.0
idna==3.2
importlib-metadata==5.0.0
importlib-resources==5.4.0
ipykernel==6.0.1
ipython==7.25.0
ipython-genutils==0.2.0
iqoptionapi==7.1.1
isort==5.9.2
jedi==0.18.0
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.3.2
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
libclang==14.0.6
lightgbm==3.3.5
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
mypy==0.910
mypy-extensions==0.4.3
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
nltk==3.7
notebook==6.4.6
numpy==1.21.0
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.0
pandocfilters==1.5.0
parso==0.8.2
patchelf==0.15.0.0
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pipreqs==0.4.10
plotly==5.11.0
prometheus-client==0.12.0
prompt-toolkit==3.0.19
protobuf==3.19.6
ptyprocess==0.7.0
py4j==0.10.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.21
pyflakes==2.3.1
Pygments==2.9.0
pyinstaller==5.5
pyinstaller-hooks-contrib==2022.10
pylint==2.9.3
pyparsing==2.4.7
pyrsistent==0.18.0
pyspark==3.2.1
pyswarms==1.3.0
python-dateutil==2.8.1
python-dotenv==0.18.0
pytz==2021.1
PyYAML==6.0
pyzmq==22.1.0
regex==2022.10.31
requests==2.26.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.0.1
scipy==1.7.1
seaborn==0.11.2
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0
sqlparse==0.4.1
statsmodels==0.12.2
tenacity==8.1.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.1.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
toml==0.10.2
tornado==6.1
tqdm==4.64.0
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==2.2.2
wordcloud==1.8.2.2
wrapt==1.12.1
xgboost==1.5.1
yarg==0.1.9
zipp==3.6.0
